{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:jsonc/recommended-with-jsonc"
  ],
  "overrides": [
    {
      "files": [
        ".eslintrc",
        "*.json"
      ],
      "parser": "jsonc-eslint-parser"
    },
    {
      "files": [
        "**/*.app.js",
        "**/sources/**/*.js"
      ],
      "parserOptions": {
        "ecmaVersion": 10
      }
    }
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "jsonc",
    "putout"
  ],
  "root": true,
  "rules": {
    "arrow-parens": "error",
    "arrow-spacing": "error",
    "array-bracket-newline": [
      "error",
      {
        "minItems": 1
      }
    ],
    "array-element-newline": [
      "error",
      "always"
    ],
    "camelcase": [
      "error",
      {
        "properties": "never"
      }
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "comma-spacing": "error",
    "eol-last": "error",
    "function-call-argument-newline": [
      "error",
      "consistent"
    ],
    "function-paren-newline": [
      "error",
      "consistent"
    ],
    "indent": [
      "error",
      2
    ],
    "key-spacing": "error",
    "keyword-spacing": "error",
    "max-len": [
      "error",
      {
        "code": 100,
        "tabWidth": 2,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "multiline-ternary": [
      "error",
      "always"
    ],
    "newline-per-chained-call": "error",
    "no-constant-condition": [
      "error",
      {
        "checkLoops": false
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxBOF": 0,
        "maxEOF": 1
      }
    ],
    "no-trailing-spaces": "error",
    "no-unused-vars": "error",
    "object-curly-newline": [
      "error",
      {
        "ExportDeclaration": "always",
        "ImportDeclaration": {
          "minProperties": 2,
          "multiline": true
        },
        "ObjectExpression": {
          "minProperties": 1,
          "multiline": true
        },
        "ObjectPattern": {
          "minProperties": 2,
          "multiline": true
        }
      }
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "object-property-newline": [
      "error",
      {
        "allowAllPropertiesOnSameLine": false
      }
    ],
    "putout/for-of-multiple-properties-destructuring": "error",
    "putout/multiple-properties-destructuring": [
      "error",
      {
        "minProperties": 1
      }
    ],
    "putout/single-property-destructuring": "error",
    "quote-props": [
      "error",
      "consistent"
    ],
    "quotes": "error",
    "semi": "error",
    "space-before-blocks": [
      "error",
      "always"
    ],
    "space-infix-ops": "error"
  }
}
