/**** Axway Colors ****/
$black = #001e26
$black-lt = #d0d0d0
$black-ltr = #efefef
$danger = #d22630
$danger-dk = #800008
$danger-lt = #ff605a
$danger-ltr = #ffebee
$gray = #c8c9c7
$gray-dk = #979896
$gray-lt = #f4f5f4
$gray-ltr = #fbfcfa
$primary = #006580
$primary-dk = #003b53
$primary-lt = #99c1cc
$primary-ltr = #eef3f4
$secondary = #4a4f54
$secondary-dk = #22272b
$secondary-lt = #707070
$secondary-ltr = #f8f8f8
$succcess = #228665
$success-dk = #006448
$success-lt = #7de3b9
$success-ltr = #ecf7f3
$tertiary = #9d4b70
$tertiary-dk = #6c1d45
$tertiary-lt = #c3a4b4
$tertiary-ltr = #efe7eb
$warning = #ff9e18
$warning-dk = #b95e04
$warning-lt = #ffcf51
$warning-ltr = #fff5e7
$white = white

/** Override of main colors used in Vuepress **/
$accentColor = $danger
$textColor = $black
$lightTextColor = $gray-dk
$borderColor = $black-ltr
$codeBgColor = $secondary-dk
