table
  width 100%
  margin-bottom 1rem

  border-collapse: collapse;
  border-spacing: 0;
  tr
    border-bottom: 1px solid $black-ltr
  tbody tr:last-child
      border-bottom 0
  td, th
    padding .75rem
    vertical-align top
    text-align left
    line-height 1.5rem