@require '~vuepress-plugin-tabs/dist/themes/default.styl'

body
	font-family system-ui,BlinkMacSystemFont,-apple-system, sans-serif, Helvetica, Roboto, "Helvetica Neue", Arial, sans-serif

$hoverColor = #34d28b
$borderColor = #fff
$bgColor = #fff
$sidebarColor = #000
$headerColor = #343c56
$textColor = rgba(0,0,0,.84)
$primaryColor = green;

html,
body,
.navbar,
.sidebar,
.navbar .links,
.theme-container .navbar,
.theme-container .sidebar
	background-color $bgColor

body .content .default
	color $textColor

.nav-item
	color: $headerColor

	@media (max-width: 719px)
		color $headerColor

.nav-item a:hover
	color: $hoverColor

	@media (max-width: 719px)
		color $hoverColor

div .sidebar-button svg
	color: $sidebarColor

.navbar .site-name
	color $sidebarColor
	margin-left: -25px
	margin-top: 1px

p {
  display: block
  margin-block-start: 1em
  margin-block-end: 1em
  margin-inline-start: 0px
  margin-inline-end: 0px
}

*:not(li)>ul {
  margin-top: 1em;
}

/**
 * Copy code to clipboard style fixes
 */
.code-copy {
  width: 0;
  height: 0;
  overflow-y: hidden;
}