
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paytm Clone</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="style.css">

    <!-- Font aswome Link -->
    <script src="https://kit.fontawesome.com/5d6c43337b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
    <nav>
       <div class="navbar">
          <a href="#"><img src="https://assetscdn1.paytm.com/images/catalog/category/5165/paytm_logo.png" alt="Logo" width="13%"></a>
          <a href="#">Payment for Consumer</a>
          <a href="#">Payment for Business</a>
          <a href="#">Investor Relations</a>
          <a href="#">Company</a>
          <a href="#">Career</a>
          <div class="sign"> 
              <a href="#"><span>Sign In</span><span class="user"><i class="fa-solid fa-user" style="color: #ffffff;"></i></span></a>
          </div>
       </div>
    </nav>
   </header> 

    <div class="msg">
        <p>No Wallet KYC Required😊to pay using UPI on Paytm.<b> Learn more.</b> 
        </p>
    </div>
<main>
    <section class="sec1">
        <div class="main">
            <div class="left">
                <img src="https://assetscdn1.paytm.com/images/catalog/view/310944/1654517453942.png" alt="Logo" width="85px"> <br>
                <h1><strong>India's Most-loved Payments App</strong></h1>
                <p class="para">Recharge & pay bills, book flights & movie tickets, open a savings account, invest in stocks & mutual funds, and do a lot more.</p>
                <div class="play-btn">
                    <p class="btn"><b>Download Paytm App </b><i class="fa-brands fa-apple"></i>  <i class="fa-brands fa-google-play"></i> </p>
                </div>
            </div>
            <div class="right">
                <img src="https://assetscdn1.paytm.com/images/catalog/view_item/850762/1656568118664.png" alt="Image" width="550px">
            </div>
        </div>
    </section>
    <section class="sec2">
        <div class="main1">
            <div class="sub_head">
                <h1>Recharge & Pay Bills on Paytm.</h1>
            </div>
          <div class="ele">
               <div class="ele1">
                  <a href="#"><img src="https://assetscdn1.paytm.com/images/catalog/view_item/733299/1626251017535.png" alt=""><br>Reachage <br>Postpaid <br>Mobile ></a>
                </div>
                <div class="ele1">
                    <a href="#"><img src="https://assetscdn1.paytm.com/images/catalog/view_item/733308/1626251043534.png" alt=""><br>Pay <br>Electric <br>Bill ></a>
                  </div>
                  <div class="ele1">
                    <a href="#"><img src="https://assetscdn1.paytm.com/images/catalog/view_item/733311/1626251101045.png" alt=""><br>Reachage <br>DTH <br>Connection ></a>
                  </div>
                  <div class="ele1">
                    <a href="#"><img src="https://assetscdn1.paytm.com/images/catalog/view_item/733307/1626251127863.png" alt=""><br>Book <br>Gas <br>Cylinder ></a>
                  </div>
                  <div class="ele1">
                    <a href="#"><img src="https://assetscdn1.paytm.com/images/catalog/view_item/1269194/1672827522093.png" alt=""><br>Pay <br>Broadband & <br>Landline Bill ></a>
                  </div>
                  <div class="ele1">
                    <a href="#"><img src="https://assetscdn1.paytm.com/images/catalog/view_item/1269198/1672828917034.png" alt=""><br>Pay <br>Education <br>Fee ></a>
                  </div>
                  <div class="ele1">
                    <a href="#"><img src="https://assetscdn1.paytm.com/images/catalog/view_item/757701/1626268580682.png" alt=""><br>All <br>Payment <br>Services ></a>
                  </div>
           </div>
        </div>


        <div class="main1" style="background-color: #002970;">
            <div class="sub_head">
                <h1>Book & Buy on Paytm.</h1>
            </div>
          <div class="ele">
               <div class="ele1">
                  <a href="#"><img src="https://assetscdn1.paytm.com/images/catalog/view_item/733295/1626259710574.png" alt=""><br>Movie <br>Tickets ></a>
                </div>
                <div class="ele1">
                    <a href="#"><img src="https://assetscdn1.paytm.com/images/catalog/view_item/733296/1626259884425.png" alt=""><br>Flight <br>Tickets ></a>
                  </div>
                  <div class="ele1">
                    <a href="#"><img src="https://assetscdn1.paytm.com/images/catalog/view_item/729996/1626260477699.png" alt=""><br>Bus <br>Tickets ></a>
                  </div>
                  <div class="ele1">
                    <a href="#"><img src="https://assetscdn1.paytm.com/images/catalog/view_item/729997/1626260495975.png" alt=""><br>Train <br>Tickets ></a>
                  </div>
                  <div class="ele1">
                    <a href="#"><img src="https://assetscdn1.paytm.com/images/catalog/view_item/729998/1666185237748.png" alt=""><br>Buy <br>Insurence ></a>
                  </div>
                  <div class="ele1">
                    <a href="#"><img src="https://assetscdn1.paytm.com/images/catalog/view_item/729999/1626259968563.png" alt=""><br>International <br>Flights ></a>
                  </div>
                  <div class="ele1">
                    <a href="#"><img src="https://assetscdn1.paytm.com/images/catalog/view_item/730001/1626450848003.png" alt=""><br>Invest <br>in Stocks ></a>
                  </div>
           </div>
        </div>
    </section>

   <section class="sec3">
     <div class="main">
       <h2>Paytm Payment Instruments</h2>

       <div class="box">
         <div class="left1">
          <div class="img">
            <img src="https://assetscdn1.paytm.com/images/catalog/view/307185/1617861564011.png" alt="Img" width="90px"> Paytm Wallet
          </div>
          <div class="content">
            <h3>The Fastest Way to Pay In-store & Online.</h3>
            <p>Load up your Paytm Wallet for free and make payments in a jiffy at over 21 million stores, websites and apps.</p>
            <div class="play-btn">
              <p class="btn"><b>Download Paytm App </b><i class="fa-brands fa-apple"></i>  <i class="fa-brands fa-google-play"></i> </p>
            </div>
          </div>
         </div>
         <img src="https://assetscdn1.paytm.com/images/catalog/view_item/728701/1618577020961.png" alt="Img" width="500px">
       </div>
       <br><br><br>
       <div class="box">
        <div class="left1">
         <div class="img">
           <img src="https://assetscdn1.paytm.com/images/catalog/view/307186/1615957674521.png" alt="Img" width="90px"> UPI Money Transfer
         </div>
         <div class="content">
           <h3>Pay anyone directly from your bank account.</h3>
           <p>Pay anyone, everywhere. Make contactless & secure payments in-stores or online using Paytm Wallet or Directly from your Bank Account. Plus, send & receive money from anyone.</p>
           <div class="play-btn">
             <p class="btn"><b>Download Paytm App </b><i class="fa-brands fa-apple"></i>  <i class="fa-brands fa-google-play"></i> </p>
           </div>
         </div>
        </div>
        <img src="https://assetscdn1.paytm.com/images/catalog/view_item/728702/1626342071104.png" alt="Img" width="500px">
      </div>

      <br><br><br>
       <div class="box">
        <div class="left1">
         <div class="img">
           <img src="https://assetscdn1.paytm.com/images/catalog/view/307191/1613622537678.png" alt="Img" width="160px">
         </div>
         <div class="content">
           <h3>Want it? <br>
            No more waiting for it.</h3>
           <p>With Paytm Postpaid, your wishlist doesn't have to be on the waitlist. Shop for the things you want today and pay for them next month.</p>
           <div class="learn-btn">
             <p class="btn"><b>Learn More -></b> </p>
           </div>
         </div>
        </div>
        <img src="https://assetscdn1.paytm.com/images/catalog/view_item/850764/1626077030984.png" alt="Img" width="400px">
      </div>

      <br><br><br>
      <div class="box2 left">
        <div class="content2">
        <img src="https://assetscdn1.paytm.com/images/catalog/view_item/853975/1640242865113.png" alt="Img" width="200px">

        <h3>Unlimited Cashback
          Every time</h3>
          <p>Paytm HDFC Bank Select Credit Card. A card with assured Cashback and incredible offers.</p>
          <img src="https://assetscdn1.paytm.com/images/catalog/view_item/853975/1640241561388.png" alt="Card" width="500px">
      </div>
    </div>
    <div class="box2 right" style="margin-right: 140px; ">
      <div class="content2" style="margin-top: 54px;">
      <img src="https://assetscdn1.paytm.com/images/catalog/view_item/853976/1640242163727.png" alt="Img" width="200px">

      <h3>India’s Most
        Sincere Credit Card</h3>
        <p>Paytm SBI Card SELECT - With Intelligent Features & Great Rewards that Never Expire</p>
        <img src="https://assetscdn1.paytm.com/images/catalog/view_item/853976/1626079147084.png" alt="Card" width="500px">
    </div>
  </div> 
     </div>
   </section>

   <section class="sec4">
    <br><br>
    <div class="main">
      <div class="left">
          <img src="https://assetscdn1.paytm.com/images/catalog/view/307193/1617696576778.png" alt="Logo" width="200px"> <br>
          <h1><strong>India's most sincere bank.</strong></h1>
          <p class="para">Paytm Payments Bank offers secure, transparent and risk-free banking at your fingertips. With instant account opening, virtual debit card and zero balance requirements, experience the future of banking today.</p>
          <div class="learn-btn">
              <p class="btn"><b>Learn More -> </b></p>
          </div>
      </div>
      <div class="right">
          <img src="https://assetscdn1.paytm.com/images/catalog/view_item/728826/1626076427497.png" alt="Image" width="400px" style="margin-right: 200px;">
      </div>
  </div>
   </section>
</main>

    
    <!-- User <i class="fa-solid fa-user"></i> -->
    <!-- Apple  <i class="fa-brands fa-apple"></i> -->
    <!-- playstore  <i class="fa-brands fa-google-play"></i> -->
</body>
</html>
