openapi: 3.0.1
info:
  title: Paystack
  description: The OpenAPI specification of the Paystack API that merchants and developers can harness to build financial solutions in Africa.
  version: 1.0.0
  contact:
    email: techsupport@paystack.com
servers:
  - url: https://api.paystack.co
    description: Base API endpoint
security:
  - bearerAuth: []
tags:
  - name: Transaction
    description: |
      A collection of endpoints for managing payments
    x-product-name: Transactions
  - name: Split
    description: |
      A collection of endpoints for spliting a transaction and managing the splits
    x-product-name: Transaction Splits
  - name: Terminal
    description: |
      A collection of endpoints for building delightful in-person payment experiences
    x-product-name: Terminal
  - name: Customer
    description: |
      A collection of endpoints for creating and managing customers on an integration
    x-product-name: Transaction Splits
  - name: Dedicated Virtual Account
    description: |
      A collection of endpoints for creating and managing payment accounts for customers
    x-product-name: Dedicated Virtual Accounts
  - name: Apple Pay
    description: |
      A collection of endpoints for managing application's top-level domain or subdomain accepting payment via Apple Pay
    x-product-name: Apple Pay
  - name: Subaccount
    description: |
      A collection of endpoints for creating and managing accounts for sharing a
      transaction with
    x-product-name: Subaccounts
  - name: Plan
    description: |
      A collection of endpoints for creating and managing recurring payment
      configuration
    x-product-name: Plans
  - name: Subscription
    description: |
      A collection of endpoints for creating and managing recurring payments
    x-product-name: Subscriptions
  - name: Product
    description: |
      A collection of endpoints for creating and managing inventories
    x-product-name: Products
  - name: Storefront
    description: |
      A collection of endpoints for creating and managing storefronts
    x-product-name: Storefronts
  - name: Order
    description: |
      A collection of endpoints for creating and managing orders
    x-product-name: Orders
  - name: Page
    description: |
      A collection of endpoints for creating and managing links for the
      collection of payment for products
    x-product-name: Payment Pages
  - name: Payment Request
    description: |
      A collection of endpoints for managing invoices for the payment of goods
      and services
    x-product-name: Payment Requests
  - name: Settlement
    description: |
      A collection of endpoints for gaining insights into payouts
    x-product-name: Settlements
  - name: Transfer Recipient
    description: |
      A collection of endpoints for creating and managing beneficiaries that you send money to
    x-product-name: Transfer Recipients
  - name: Transfer
    description: |
      A collection of endpoints for automating sending money to beneficiaries
    x-product-name: Transfers
  - name: Balance
    description: |
      A collection of endpoints gaining insights into the amount on an integration
    x-product-name: Balance
  - name: Charge
    description: |
      A collection of endpoints for configuring and managing the payment channels when initiating a payment
    x-product-name: Charges
  - name: Bulk Charge
    description: |
      A collection of endpoints for creating and managing multiple recurring payments
    x-product-name: Bulk Charges
  - name: Integration
    description: |
      A collection of endpoints for managing some settings on an integration
    x-product-name: Integration
  - name: Refund
    description: |
      A collection of endpoints for creating and managing transaction reimbursement
    x-product-name: Refunds
  - name: Dispute
    description: |
      A collection of endpoints for managing transactions complaint made by customers
    x-product-name: Disputes
  - name: Bank
    description: |
      A collection of endpoints for managing bank details
    x-product-name: Banks
  - name: Miscellaneous
    description: |
      A collection of endpoints that provides utility functions
    x-product-name: Miscellaneous
paths:
  /transaction/initialize:
    post:
      tags:
        - Transaction
      summary: Initialize Transaction
      operationId: transaction_initialize
      description: Create a new transaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionInitialize'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransactionInitialize'
      responses:
        '200':
          $ref: '#/components/responses/TransactionInitializeSuccess'
        '400':
          $ref: '#/components/responses/TransactionInitializeBadRequestResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transaction/verify/{reference}:
    get:
      tags:
        - Transaction
      summary: Verify Transaction
      operationId: transaction_verify
      description: Verify a previously initiated transaction using it's reference
      parameters:
        - name: reference
          in: path
          description: The transaction reference to verify
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/TransactionVerifySuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transaction:
    get:
      tags:
        - Transaction
      summary: List Transactions
      operationId: transaction_list
      description: List transactions that has occurred on your integration
      parameters:
        - in: query
          name: use_cursor
          description: A flag to indicate if cursor based pagination should be used
          schema:
            type: boolean
        - in: query
          name: next
          description: |
            An alphanumeric value returned for every cursor based retrieval, used to retrieve the next set of data
          schema:
            type: string
        - in: query
          name: previous
          description: |
            An alphanumeric value returned for every cursor based retrieval, used to retrieve the previous set of data
          schema:
            type: string
        - in: query
          name: per_page
          schema:
            type: integer
          description: The number of records to fetch per request
        - in: query
          name: page
          schema:
            type: integer
          description: Used to indicate the offeset to retrieve data from
        - in: query
          name: from
          description: The start date
          schema:
            type: string
            format: date-time
        - in: query
          name: to
          description: The end date
          schema:
            type: string
            format: date-time
        - in: query
          name: channel
          description: The payment method the customer used to complete the transaction
          schema:
            type: string
            enum:
              - card
              - pos
              - bank
              - dedicated_nuban
              - ussd
              - bank_transfer
        - in: query
          name: terminal_id
          description: The terminal ID to filter all transactions from a terminal
          schema:
            type: string
        - in: query
          name: customer_code
          description: The customer code to filter all transactions from a customer
          schema:
            type: string
        - in: query
          name: amount
          description: Filter transactions by a certain amount
          schema:
            type: integer
            format: int64
        - in: query
          name: status
          description: Filter transaction by status
          schema:
            type: string
            enum:
              - success
              - failed
              - abandoned
              - reversed
        - in: query
          name: source
          description: The origin of the payment
          schema:
            type: string
            enum:
              - merchantApi
              - checkout
              - pos
              - virtualTerminal
        - in: query
          name: subaccount_code
          description: Filter transaction by subaccount code
          schema:
            type: string
        - in: query
          name: split_code
          description: Filter transaction by split code
          schema:
            type: string
        - in: query
          name: settlement
          description: The settlement ID to filter for settled transactions
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/TransactionListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transaction/{id}:
    get:
      tags:
        - Transaction
      summary: Fetch Transaction
      operationId: transaction_fetch
      description: Fetch a transaction to get its details
      parameters:
        - name: id
          in: path
          description: The ID of the transaction to fetch
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/TransactionFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transaction/timeline/{id}:
    get:
      tags:
        - Transaction
      summary: Fetch Transaction Timeline
      operationId: transaction_timeline
      description: Get the details about the lifecycle of a transaction from initiation to completion
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 3936799950
      responses:
        '200':
          $ref: '#/components/responses/TransactionTimelineSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transaction/totals:
    get:
      tags:
        - Transaction
      summary: Transaction Totals
      operationId: transaction_totals
      description: Get the total amount of all transactions
      parameters:
        - in: query
          description: The start date
          name: from
          schema:
            type: string
            format: date-time
          example: '2024-06-01T00:00:01Z'
        - in: query
          name: to
          description: The end date
          schema:
            type: string
            format: date-time
          example: '2024-06-30T13:36:54Z'
      responses:
        '200':
          $ref: '#/components/responses/TransactionTotalsSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transaction/export:
    get:
      tags:
        - Transaction
      summary: Export Transactions
      operationId: transaction_download
      parameters:
        - in: query
          name: from
          description: The start date
          schema:
            type: string
            format: date-time
          example: '2024-06-01T00:00:01Z'
        - in: query
          name: to
          description: The end date
          schema:
            type: string
            format: date-time
          example: '2024-06-30T13:36:54Z'
        - in: query
          name: status
          description: Filter by the status of the transaction
          schema:
            type: string
            enum:
              - success
              - failed
              - abandoned
              - reversed
              - all
          example: success
        - in: query
          name: customer
          description: Filter by customer code
          schema:
            type: string
          example: CUS_eqt26928wowif7z
        - in: query
          name: subaccount_code
          description: Filter by subaccount code
          schema:
            type: string
          example: ACCT_dskvlw3y3dMukmt
        - in: query
          name: settlement
          description: Filter by the settlement ID
          schema:
            type: integer
            format: int64
          example: 5687910
      responses:
        '200':
          $ref: '#/components/responses/TransactionExportSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transaction/charge_authorization:
    post:
      tags:
        - Transaction
      summary: Charge Authorization
      operationId: transaction_chargeAuthorization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionChargeAuthorization'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransactionChargeAuthorization'
      responses:
        '200':
          $ref: '#/components/responses/TransactionChargeSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transaction/partial_debit:
    post:
      tags:
        - Transaction
      summary: Partial Debit
      operationId: transaction_partialDebit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionPartialDebit'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransactionPartialDebit'
      responses:
        '200':
          $ref: '#/components/responses/TransactionPartialDebitSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transaction/{id}/event:
    get:
      tags:
        - Transaction
      summary: Get Transaction Event
      operationId: transaction_event
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 3936799950
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transaction/{id}/session:
    get:
      tags:
        - Transaction
      summary: Get Transaction Session
      operationId: transaction_session
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 3936799950
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /split:
    post:
      tags:
        - Split
      summary: Create Split
      operationId: split_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SplitCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SplitCreate'
      responses:
        '200':
          $ref: '#/components/responses/SplitCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Split
      summary: List/Search Splits
      operationId: split_list
      parameters:
        - name: name
          in: query
          schema:
            type: string
        - name: active
          in: query
          schema:
            type: string
        - name: sort_by
          in: query
          schema:
            type: string
        - name: from
          in: query
          schema:
            type: string
        - name: to
          in: query
          schema:
            type: string
        - name: perPage
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/SplitListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /split/{id}:
    get:
      tags:
        - Split
      summary: Fetch Split
      operationId: split_fetch
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/SplitFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Split
      summary: Update Split
      operationId: split_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SplitUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SplitUpdate'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/SplitUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /split/{id}/subaccount/add:
    post:
      tags:
        - Split
      summary: Add Subaccount to Split
      operationId: split_addSubaccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SplitSubaccounts'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SplitSubaccounts'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: application/json
      responses:
        '200':
          $ref: '#/components/responses/SplitAddUpdateSubaccountSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /split/{id}/subaccount/remove:
    post:
      tags:
        - Split
      summary: Remove Subaccount from split
      operationId: split_removeSubaccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SplitSubaccounts'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SplitSubaccounts'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/SplitRemoveSubaccountSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /terminal/{id}/event:
    post:
      tags:
        - Terminal
      summary: Send Event
      description: Send an event from your application to the Paystack Terminal
      operationId: terminal_sendEvent
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: Z0R4orOU
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminalSendEvent'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TerminalSendEvent'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /terminal/{terminal_id}/event/{event_id}:
    get:
      tags:
        - Terminal
      summary: Fetch Event Status
      description: Check the status of an event sent to the Terminal
      operationId: terminal_fetchEventStatus
      parameters:
        - name: terminal_id
          in: path
          required: true
          schema:
            type: string
          example: Z0R4orOU
        - name: event_id
          in: path
          required: true
          schema:
            type: string
          example: 616d721e8c5cd40a0cdd54a6
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /terminal/{terminal_id}/presence:
    get:
      tags:
        - Terminal
      summary: Fetch Terminal Status
      description: Check the availiability of a Terminal before sending an event to it
      operationId: terminal_fetchTerminalStatus
      parameters:
        - name: terminal_id
          in: path
          required: true
          schema:
            type: string
          example: Z0R4orOU
      responses:
        '200':
          $ref: '#/components/responses/TerminalGetStatusSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /terminal:
    get:
      tags:
        - Terminal
      summary: List Terminals
      operationId: terminal_list
      description: List the Terminals available on your integration
      parameters:
        - name: next
          in: query
          schema:
            type: string
        - name: previous
          in: query
          schema:
            type: string
        - name: per_page
          in: query
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/TerminalListsSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /terminal/{terminal_id}:
    parameters:
      - name: terminal_id
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Terminal
      summary: Fetch Terminal
      description: Get the details of a Terminal
      operationId: terminal_fetch
      responses:
        '200':
          $ref: '#/components/responses/TerminalGetSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Terminal
      summary: Update Terminal
      operationId: terminal_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminalUpate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TerminalUpate'
      responses:
        '200':
          $ref: '#/components/responses/TerminalUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /terminal/commission_device:
    post:
      tags:
        - Terminal
      summary: Commission Terminal
      description: Activate your debug device by linking it to your integration
      operationId: terminal_commission
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminalActivationToggle'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TerminalActivationToggle'
      responses:
        '200':
          $ref: '#/components/responses/TerminalCommissionDeviceSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /terminal/decommission_device:
    post:
      tags:
        - Terminal
      summary: Decommission Terminal
      description: Unlink your debug device from your integration
      operationId: terminal_decommission
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminalActivationToggle'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TerminalActivationToggle'
      responses:
        '200':
          $ref: '#/components/responses/TerminalDecommissionDeviceSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /customer:
    post:
      tags:
        - Customer
      summary: Create Customer
      operationId: customer_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerCreate'
      responses:
        '200':
          $ref: '#/components/responses/CustomerCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Customer
      summary: List Customers
      operationId: customer_list
      description: List customers on your integration
      parameters:
        - name: use_cursor
          in: query
          schema:
            type: boolean
        - name: next
          in: query
          schema:
            type: string
        - name: previous
          in: query
          schema:
            type: string
        - name: from
          in: query
          schema:
            type: string
        - name: to
          in: query
          schema:
            type: string
        - name: perPage
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/CustomerListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /customer/{code}:
    parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Customer
      summary: Fetch Customer
      operationId: customer_fetch
      responses:
        '200':
          $ref: '#/components/responses/CustomerFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Customer
      summary: Update Customer
      operationId: customer_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerUpdate'
      responses:
        '200':
          $ref: '#/components/responses/CustomerUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /customer/set_risk_action:
    post:
      tags:
        - Customer
      summary: White/blacklist Customer
      description: Set customer's risk action by whitelisting or blacklisting the customer
      operationId: customer_riskAction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRiskAction'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerRiskAction'
      responses:
        '200':
          $ref: '#/components/responses/CustomerWhitelistBlacklistSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /customer/deactivate_authorization:
    post:
      tags:
        - Customer
      summary: Deactivate Authorization
      operationId: customer_deactivateAuthorization
      description: Deactivate a customer's card
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDeactivateAuthorization'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerDeactivateAuthorization'
      responses:
        '200':
          $ref: '#/components/responses/CustomerDeactivateAuthorizationSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /customer/{code}/identification:
    parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - Customer
      summary: Validate Customer
      operationId: customer_validate
      description: Validate a customer's identity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerValidate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerValidate'
      responses:
        '202':
          $ref: '#/components/responses/CustomerValidateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /dedicated_account:
    post:
      tags:
        - Dedicated Virtual Account
      summary: Create Dedicated Account
      operationId: dedicatedAccount_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountCreate'
      responses:
        '200':
          $ref: '#/components/responses/DedicatedNubanCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Dedicated Virtual Account
      summary: List Dedicated Accounts
      operationId: dedicatedAccount_list
      parameters:
        - name: account_number
          in: query
          schema:
            type: string
        - name: customer
          in: query
          schema:
            type: string
        - name: active
          in: query
          schema:
            type: boolean
        - name: currency
          in: query
          schema:
            type: string
        - name: provider_slug
          in: query
          schema:
            type: string
        - name: bank_id
          in: query
          schema:
            type: string
        - name: perPage
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DedicatedNubanFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /dedicated_account/assign:
    post:
      tags:
        - Dedicated Virtual Account
      summary: Assign Dedicated Account
      operationId: dedicatedAccount_assign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountAssign'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountAssign'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /dedicated_account/{account_id}:
    parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Dedicated Virtual Account
      summary: Fetch Dedicated Account
      operationId: dedicatedAccount_fetch
      responses:
        '200':
          $ref: '#/components/responses/DedicatedNubanFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    delete:
      tags:
        - Dedicated Virtual Account
      summary: Deactivate Dedicated Account
      operationId: dedicatedAccount_deactivate
      responses:
        '200':
          $ref: '#/components/responses/DedicatedNubanDeactivateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /dedicated_account/requery:
    parameters:
      - name: account_number
        description: Virtual account number to requery
        in: query
        schema:
          type: string
      - name: provider_slug
        description: The bank's slug in lowercase, without spaces e.g. `wema-bank`
        in: query
        schema:
          type: string
      - name: date
        description: The day the transfer was made in `YYYY-MM-DD` format
        in: query
        schema:
          type: string
    get:
      tags:
        - Dedicated Virtual Account
      summary: Requery Dedicated Account
      operationId: dedicatedAccount_requery
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /dedicated_account/split:
    post:
      tags:
        - Dedicated Virtual Account
      summary: Split Dedicated Account Transaction
      operationId: dedicatedAccount_addSplit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountSplit'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountSplit'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    delete:
      tags:
        - Dedicated Virtual Account
      summary: Remove Split from Dedicated Account
      operationId: dedicatedAccount_removeSplit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountSplit'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountSplit'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /dedicated_account/available_providers:
    get:
      tags:
        - Dedicated Virtual Account
      summary: Fetch Bank Providers
      operationId: dedicatedAccount_availableProviders
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /apple-pay/domain:
    post:
      tags:
        - Apple Pay
      summary: Register Domain
      description: Register a top-level domain or subdomain for your Apple Pay integration.
      operationId: applePay_registerDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplePayParam'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApplePayParam'
      responses:
        '200':
          $ref: '#/components/responses/ApplePayOkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Apple Pay
      summary: List Domains
      description: Lists all registered domains on your integration
      operationId: applePay_listDomain
      parameters:
        - name: use_cursor
          in: query
          schema:
            type: boolean
        - name: next
          in: query
          schema:
            type: string
        - name: previous
          in: query
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    delete:
      tags:
        - Apple Pay
      summary: Unregister Domain
      description: Unregister a top-level domain or subdomain previously used for your Apple Pay integration.
      operationId: applePay_unregisterDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplePayParam'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApplePayParam'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /subaccount:
    post:
      tags:
        - Subaccount
      summary: Create Subaccount
      operationId: subaccount_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubaccountCreate'
      responses:
        '200':
          $ref: '#/components/responses/SubaccountCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Subaccount
      summary: List Subaccounts
      operationId: subaccount_list
      parameters:
        - in: query
          name: perPage
          schema:
            type: integer
          description: Number of records to fetch per page
        - in: query
          name: page
          schema:
            type: integer
          description: The section to retrieve
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          description: The end date
      responses:
        '200':
          $ref: '#/components/responses/SubaccountListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /subaccount/{code}:
    parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Subaccount
      summary: Fetch Subaccount
      operationId: subaccount_fetch
      responses:
        '200':
          $ref: '#/components/responses/SubaccountFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Subaccount
      summary: Update Subaccount
      operationId: subaccount_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubaccountUpdate'
      responses:
        '200':
          $ref: '#/components/responses/SubaccountUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /plan:
    post:
      tags:
        - Plan
      summary: Create Plan
      operationId: plan_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PlanCreate'
      responses:
        '200':
          $ref: '#/components/responses/PlanCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Plan
      summary: List Plans
      operationId: plan_list
      parameters:
        - in: query
          name: perPage
          schema:
            type: integer
          description: Number of records to fetch per page
        - in: query
          name: page
          schema:
            type: integer
          description: The section to retrieve
        - in: query
          name: interval
          schema:
            type: string
          description: Specify interval of the plan
        - in: query
          name: amount
          schema:
            type: integer
          description: The amount on the plans to retrieve
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          description: The end date
      responses:
        '200':
          $ref: '#/components/responses/PlanListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /plan/{code}:
    parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Plan
      summary: Fetch Plan
      operationId: plan_fetch
      responses:
        '200':
          $ref: '#/components/responses/PlanFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Plan
      summary: Update Plan
      operationId: plan_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PlanUpdate'
      responses:
        '200':
          $ref: '#/components/responses/PlanUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /subscription:
    post:
      tags:
        - Subscription
      summary: Create Subscription
      operationId: subscription_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubscriptionCreate'
      responses:
        '200':
          $ref: '#/components/responses/SubscriptionCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Subscription
      summary: List Subscriptions
      operationId: subscription_list
      parameters:
        - in: query
          name: perPage
          schema:
            type: integer
          description: Number of records to fetch per page
        - in: query
          name: page
          schema:
            type: integer
          description: The section to retrieve
        - in: query
          name: plan
          schema:
            type: string
          description: Plan ID
        - in: query
          name: customer
          schema:
            type: string
          description: Customer ID
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          description: The end date
      responses:
        '200':
          $ref: '#/components/responses/SubscriptionListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /subscription/{code}:
    parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Subscription
      summary: Fetch Subscription
      operationId: subscription_fetch
      responses:
        '200':
          $ref: '#/components/responses/SubscriptionFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /subscription/disable:
    post:
      tags:
        - Subscription
      summary: Disable Subscription
      operationId: subscription_disable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionToggle'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubscriptionToggle'
      responses:
        '200':
          $ref: '#/components/responses/SubscriptionDisableSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /subscription/enable:
    post:
      tags:
        - Subscription
      summary: Enable Subscription
      operationId: subscription_enable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionToggle'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubscriptionToggle'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /subscription/{code}/manage/link:
    get:
      tags:
        - Subscription
      summary: Generate Update Subscription Link
      operationId: subscription_manageLink
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /subscription/{code}/manage/email:
    post:
      tags:
        - Subscription
      summary: Send Update Subscription Link
      operationId: subscription_manageEmail
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /product:
    post:
      tags:
        - Product
      summary: Create Product
      operationId: product_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProductCreate'
      responses:
        '201':
          $ref: '#/components/responses/ProductCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Product
      summary: List Products
      operationId: product_list
      parameters:
        - name: perPage
          in: query
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
        - name: active
          in: query
          schema:
            type: boolean
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          description: The end date
      responses:
        '200':
          $ref: '#/components/responses/ProductListsSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /product/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Product
      summary: Fetch Product
      operationId: product_fetch
      responses:
        '200':
          $ref: '#/components/responses/ProductFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Product
      summary: Update product
      operationId: product_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProductUpdate'
      responses:
        '200':
          $ref: '#/components/responses/ProductUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    delete:
      tags:
        - Product
      summary: Delete Product
      operationId: product_delete
      responses:
        '200':
          $ref: '#/components/responses/ProductDeleteSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /storefront:
    post:
      tags:
        - Storefront
      summary: Create Storefront
      operationId: storefront_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorefrontCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/StorefrontCreate'
      responses:
        '200':
          $ref: '#/components/responses/StorefrontCreateSuccess'
        '400':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Storefront
      summary: List Storefronts
      operationId: storefront_list
      parameters:
        - name: perPage
          in: query
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - inactive
      responses:
        '200':
          $ref: '#/components/responses/StorefrontListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /storefront/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Storefront
      summary: Fetch Storefront
      operationId: storefront_fetch
      responses:
        '200':
          $ref: '#/components/responses/StorefrontFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Storefront
      summary: Update Storefront
      operationId: storefront_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorefrontUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/StorefrontUpdate'
      responses:
        '200':
          $ref: '#/components/responses/StorefrontUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    delete:
      tags:
        - Storefront
      summary: Delete Storefront
      operationId: storefront_delete
      responses:
        '200':
          $ref: '#/components/responses/StorefrontDeleteSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /storefront/verify/{slug}:
    parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Storefront
      summary: Verify Storefront Slug
      operationId: storefront_verifySlug
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /storefront/{id}/order:
    get:
      tags:
        - Storefront
      summary: Fetch Storefront Orders
      description: Fetch all orders in your Storefront
      operationId: storefront_fetchOrders
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: Z0R4orOU
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /storefront/{id}/product:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - Storefront
      summary: Add Products to Storefront
      operationId: storefront_addProducts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorefrontAddProducts'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/StorefrontAddProducts'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    get:
      tags:
        - Storefront
      summary: List Products in Storefront
      operationId: storefront_listProducts
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /storefront/{id}/publish:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - Storefront
      summary: Publish Storefront
      operationId: storefront_publish
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /storefront/{id}/duplicate:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - Storefront
      summary: Duplicate Storefront
      operationId: storefront_duplicate
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /order:
    post:
      tags:
        - Order
      summary: Create Order
      operationId: order_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrderCreate'
      responses:
        '200':
          $ref: '#/components/responses/OrderCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Order
      summary: List Orders
      operationId: order_list
      parameters:
        - in: query
          name: perPage
          schema:
            type: integer
          description: Number of records to fetch per page
        - in: query
          name: page
          schema:
            type: integer
          description: The section to retrieve
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          description: The end date
      responses:
        '200':
          $ref: '#/components/responses/OrderListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /order/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Order
      summary: Fetch Order
      operationId: order_fetch
      responses:
        '200':
          $ref: '#/components/responses/OrderFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /order/product/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Order
      summary: Fetch Products Order
      operationId: order_fetchProducts
      responses:
        '200':
          $ref: '#/components/responses/OrderFetchProductSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /order/{code}/validate:
    parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Order
      summary: Validate pay for me order
      operationId: order_validatePayForMe
      responses:
        '200':
          $ref: '#/components/responses/OrderValidateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /page:
    post:
      tags:
        - Page
      summary: Create Page
      operationId: page_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PageCreate'
      responses:
        '200':
          $ref: '#/components/responses/PageCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Page
      summary: List Pages
      operationId: page_list
      parameters:
        - in: query
          name: perPage
          schema:
            type: integer
          description: Number of records to fetch per page
        - in: query
          name: page
          schema:
            type: integer
          description: The section to retrieve
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          description: The end date
      responses:
        '200':
          $ref: '#/components/responses/PageListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /page/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Page
      summary: Fetch Page
      operationId: page_fetch
      responses:
        '200':
          $ref: '#/components/responses/PageFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Page
      summary: Update Page
      operationId: page_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PageUpdate'
      responses:
        '200':
          $ref: '#/components/responses/PageUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /page/check_slug_availability/{slug}:
    parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Page
      summary: Check Slug Availability
      operationId: page_checkSlugAvailability
      responses:
        '200':
          $ref: '#/components/responses/PageCheckSlugAvailabilitySuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /page/{id}/product:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - Page
      summary: Add Products
      operationId: page_addProducts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageProduct'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PageProduct'
      responses:
        '200':
          $ref: '#/components/responses/PageAddProductsSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /paymentrequest:
    post:
      tags:
        - Payment Request
      summary: Create Payment Request
      operationId: paymentRequest_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequestCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PaymentRequestCreate'
      responses:
        '200':
          $ref: '#/components/responses/PaymentRequestCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Payment Request
      summary: List Payment Request
      operationId: paymentRequest_list
      parameters:
        - in: query
          name: perPage
          schema:
            type: integer
          description: Number of records to fetch per page
        - in: query
          name: page
          schema:
            type: integer
          description: The section to retrieve
        - in: query
          name: customer
          schema:
            type: string
          description: Customer ID
        - in: query
          name: status
          schema:
            type: string
          description: Invoice status to filter
        - in: query
          name: currency
          schema:
            type: string
          description: If your integration supports more than one currency, choose the one to filter
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          description: The end date
      responses:
        '200':
          $ref: '#/components/responses/PaymentRequestListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /paymentrequest/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Payment Request
      summary: Fetch Payment Request
      operationId: paymentRequest_fetch
      responses:
        '200':
          $ref: '#/components/responses/PaymentRequestListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Payment Request
      summary: Update Payment Request
      operationId: paymentRequest_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequestUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PaymentRequestUpdate'
      responses:
        '200':
          $ref: '#/components/responses/PaymentRequestUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /paymentrequest/verify/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Payment Request
      summary: Verify Payment Request
      operationId: paymentRequest_verify
      responses:
        '200':
          $ref: '#/components/responses/PaymentRequestVerifySuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /paymentrequest/notify/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - Payment Request
      summary: Send Notification
      operationId: paymentRequest_notify
      responses:
        '200':
          $ref: '#/components/responses/PaymentRequestSendNotificationSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /paymentrequest/totals:
    get:
      tags:
        - Payment Request
      summary: Payment Request Total
      operationId: paymentRequest_totals
      responses:
        '200':
          $ref: '#/components/responses/PaymentRequestTotalSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /paymentrequest/finalize/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - Payment Request
      summary: Finalize Payment Request
      operationId: paymentRequest_finalize
      responses:
        '200':
          $ref: '#/components/responses/PaymentRequestFinalizeSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /paymentrequest/archive/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - Payment Request
      summary: Archive Payment Request
      operationId: paymentRequest_archive
      responses:
        '200':
          $ref: '#/components/responses/PaymentRequestArchiveSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /settlement:
    get:
      tags:
        - Settlement
      summary: Fetch Settlements
      operationId: settlements_fetch
      parameters:
        - name: perPage
          in: query
          schema:
            type: integer
          example: 50
        - name: page
          in: query
          schema:
            type: integer
          example: 2
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /settlement/{id}/transaction:
    get:
      tags:
        - Settlement
      summary: Settlement Transactions
      operationId: settlements_transaction
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transferrecipient:
    post:
      tags:
        - Transfer Recipient
      summary: Create Transfer Recipient
      operationId: transferrecipient_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRecipientCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferRecipientCreate'
      responses:
        '201':
          $ref: '#/components/responses/TransferRecipientCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Transfer Recipient
      summary: List Transfer Recipients
      operationId: transferrecipient_list
      parameters:
        - in: query
          name: perPage
          schema:
            type: integer
          description: Number of records to fetch per page
        - in: query
          name: page
          schema:
            type: integer
          description: The section to retrieve
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          description: The end date
      responses:
        '200':
          $ref: '#/components/responses/TransferRecipientListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transferrecipient/bulk:
    post:
      tags:
        - Transfer Recipient
      summary: Bulk Create Transfer Recipient
      operationId: transferrecipient_bulk
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRecipientBulk'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferRecipientBulk'
      responses:
        '200':
          $ref: '#/components/responses/TransferRecipientBulkCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transferrecipient/{code}:
    parameters:
      - name: code
        description: Transfer recipient code
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Transfer Recipient
      summary: Fetch Transfer recipient
      operationId: transferrecipient_fetch
      responses:
        '200':
          $ref: '#/components/responses/TransferRecipientFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Transfer Recipient
      summary: Update Transfer recipient
      operationId: transferrecipient_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRecipientUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferRecipientUpdate'
      responses:
        '200':
          $ref: '#/components/responses/TransferRecipientUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    delete:
      tags:
        - Transfer Recipient
      summary: Delete Transfer Recipient
      operationId: transferrecipient_delete
      responses:
        '200':
          $ref: '#/components/responses/TransferRecipientDeleteSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transfer:
    post:
      tags:
        - Transfer
      summary: Initiate Transfer
      operationId: transfer_initiate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferInitiate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferInitiate'
      responses:
        '200':
          $ref: '#/components/responses/TransferCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Transfer
      summary: List Transfers
      operationId: transfer_list
      parameters:
        - in: query
          name: perPage
          schema:
            type: integer
          description: Number of records to fetch per page
        - in: query
          name: page
          schema:
            type: integer
          description: The section to retrieve
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          description: The end date
      responses:
        '200':
          $ref: '#/components/responses/TransferListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transfer/finalize_transfer:
    post:
      tags:
        - Transfer
      summary: Finalize Transfer
      operationId: transfer_finalize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferFinalize'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferFinalize'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transfer/bulk:
    post:
      tags:
        - Transfer
      summary: Initiate Bulk Transfer
      operationId: transfer_bulk
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferBulk'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferBulk'
      responses:
        '200':
          $ref: '#/components/responses/TransferBulkSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transfer/{code}:
    parameters:
      - name: code
        description: Transfer code
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Transfer
      summary: Fetch Transfer
      operationId: transfer_fetch
      responses:
        '200':
          $ref: '#/components/responses/TransferFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transfer/verify/{reference}:
    get:
      tags:
        - Transfer
      summary: Verify Transfer
      operationId: transfer_verify
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/TransferVerifySuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transfer/export:
    get:
      tags:
        - Transfer
      summary: Export Transfers
      operationId: transfer_download
      parameters:
        - in: query
          name: perPage
          schema:
            type: integer
          description: Number of records to fetch per page
        - in: query
          name: page
          schema:
            type: integer
          description: The section to retrieve
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          description: The end date
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /transfer/resend_otp:
    post:
      tags:
        - Transfer
      summary: Resend OTP for Transfer
      operationId: transfer_resendOtp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferResendOTP'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferResendOTP'
      responses:
        '200':
          $ref: '#/components/responses/TransferResendsOtpSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transfer/disable_otp:
    post:
      tags:
        - Transfer
      summary: Disable OTP requirement for Transfers
      operationId: transfer_disableOtp
      responses:
        '200':
          $ref: '#/components/responses/TransferDisablesOtpSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transfer/disable_otp_finalize:
    post:
      tags:
        - Transfer
      summary: Finalize Disabling of OTP requirement for Transfers
      operationId: transfer_disableOtpFinalize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferFinalizeDisableOTP'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferFinalizeDisableOTP'
      responses:
        '200':
          $ref: '#/components/responses/TransferFinalizeDisablesOtpSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /transfer/enable_otp:
    post:
      tags:
        - Transfer
      summary: Enable OTP requirement for Transfers
      operationId: transfer_enableOtp
      responses:
        '200':
          $ref: '#/components/responses/TransferEnablesOtpSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /balance:
    get:
      tags:
        - Balance
      summary: Fetch Balance
      operationId: balance_fetch
      description: You can only transfer from what you have
      responses:
        '200':
          $ref: '#/components/responses/BalanceCheckSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /balance/ledger:
    get:
      tags:
        - Balance
      summary: Balance Ledger
      operationId: balance_ledger
      parameters:
        - in: query
          name: perPage
          schema:
            type: integer
          description: Number of records to fetch per page
        - in: query
          name: page
          schema:
            type: integer
          description: The section to retrieve
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          description: The end date
      responses:
        '200':
          $ref: '#/components/responses/BalanceFetchLedgerSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /charge:
    post:
      tags:
        - Charge
      summary: Create Charge
      operationId: charge_create
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ChargeCreate'
                - type: object
                  properties:
                    bank:
                      $ref: '#/components/schemas/Bank'
                - type: object
                  properties:
                    mobile_money:
                      $ref: '#/components/schemas/MobileMoney'
                - type: object
                  properties:
                    ussd:
                      $ref: '#/components/schemas/USSD'
                - type: object
                  properties:
                    eft:
                      $ref: '#/components/schemas/EFT'
          application/x-www-form-urlencoded:
            schema:
              allOf:
                - $ref: '#/components/schemas/ChargeCreate'
                - type: object
                  properties:
                    bank:
                      $ref: '#/components/schemas/Bank'
                - type: object
                  properties:
                    mobile_money:
                      $ref: '#/components/schemas/MobileMoney'
                - type: object
                  properties:
                    ussd:
                      $ref: '#/components/schemas/USSD'
                - type: object
                  properties:
                    eft:
                      $ref: '#/components/schemas/EFT'
      responses:
        '200':
          $ref: '#/components/responses/ChargeCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /charge/submit_pin:
    post:
      tags:
        - Charge
      summary: Submit PIN
      operationId: charge_submitPin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeSubmitPin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChargeSubmitPin'
      responses:
        '200':
          $ref: '#/components/responses/ChargeSubmitPinSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /charge/submit_otp:
    post:
      tags:
        - Charge
      summary: Submit OTP
      operationId: charge_submitOtp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeSubmitOTP'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChargeSubmitOTP'
      responses:
        '200':
          $ref: '#/components/responses/ChargeSubmitOtpSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /charge/submit_phone:
    post:
      tags:
        - Charge
      summary: Submit Phone
      operationId: charge_submitPhone
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeSubmitPhone'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChargeSubmitPhone'
      responses:
        '200':
          $ref: '#/components/responses/ChargeSubmitPhoneSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /charge/submit_birthday:
    post:
      tags:
        - Charge
      summary: Submit Birthday
      operationId: charge_submitBirthday
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeSubmitBirthday'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChargeSubmitBirthday'
      responses:
        '200':
          $ref: '#/components/responses/ChargeSubmitBirthdaySuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /charge/submit_address:
    post:
      tags:
        - Charge
      summary: Submit Address
      operationId: charge_submitAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeSubmitAddress'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChargeSubmitAddress'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
  /charge/{reference}:
    get:
      tags:
        - Charge
      summary: Check pending charge
      operationId: charge_check
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/ChargeCheckPendingSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /bulkcharge:
    post:
      tags:
        - Bulk Charge
      summary: Initiate Bulk Charge
      operationId: bulkCharge_initiate
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                properties:
                  charges:
                    title: charges
                    type: object
                    items:
                      $ref: '#/components/schemas/BulkChargeInitiate'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                properties:
                  charges:
                    type: object
                    items:
                      $ref: '#/components/schemas/BulkChargeInitiate'
      responses:
        '200':
          $ref: '#/components/responses/BulkChargeInitiateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Bulk Charge
      summary: List Bulk Charge Batches
      operationId: bulkCharge_list
      parameters:
        - in: query
          name: perPage
          schema:
            type: integer
          description: Number of records to fetch per page
        - in: query
          name: page
          schema:
            type: integer
          description: The section to retrieve
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          description: The end date
      responses:
        '200':
          $ref: '#/components/responses/BulkChargeListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /bulkcharge/{code}:
    parameters:
      - name: code
        description: Batch code
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Bulk Charge
      summary: Fetch Bulk Charge Batch
      operationId: bulkCharge_fetch
      responses:
        '200':
          $ref: '#/components/responses/BulkChargeFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /bulkcharge/{code}/charges:
    get:
      tags:
        - Bulk Charge
      summary: Fetch Charges in a Batch
      operationId: bulkCharge_charges
      parameters:
        - name: code
          description: Batch code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/BulkChargeFetchBulkBatchChargesSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /bulkcharge/pause/{code}:
    get:
      tags:
        - Bulk Charge
      summary: Pause Bulk Charge Batch
      operationId: bulkCharge_pause
      parameters:
        - name: code
          description: Batch code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/BulkChargePauseSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /bulkcharge/resume/{code}:
    get:
      tags:
        - Bulk Charge
      summary: Resume Bulk Charge Batch
      operationId: bulkCharge_resume
      parameters:
        - name: code
          description: Batch code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/BulkChargeResumeSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /integration/payment_session_timeout:
    get:
      tags:
        - Integration
      summary: Fetch Payment Session Timeout
      operationId: integration_fetchPaymentSessionTimeout
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
    put:
      tags:
        - Integration
      summary: Update Payment Session Timeout
      operationId: integration_updatePaymentSessionTimeout
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSession'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /refund:
    post:
      tags:
        - Refund
      summary: Create Refund
      operationId: refund_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RefundCreate'
      responses:
        '200':
          $ref: '#/components/responses/RefundCreateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Server error
    get:
      tags:
        - Refund
      summary: List Refunds
      operationId: refund_list
      parameters:
        - in: query
          name: perPage
          schema:
            type: integer
          description: Number of records to fetch per page
        - in: query
          name: page
          schema:
            type: integer
          description: The section to retrieve
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
          name: to
          schema:
            type: string
            format: date-time
          description: The end date
      responses:
        '200':
          $ref: '#/components/responses/RefundListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /refund/{id}:
    get:
      tags:
        - Refund
      summary: Fetch Refund
      operationId: refund_fetch
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/RefundFetchSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Server error
  /dispute:
    get:
      tags:
        - Dispute
      summary: List Disputes
      operationId: dispute_list
      parameters:
        - in: query
          name: perPage
          description: Number of records to fetch per page
          schema:
            type: integer
        - in: query
          name: page
          description: The section to retrieve
          schema:
            type: integer
        - in: query
          name: status
          description: Dispute Status. Acceptable values are awaiting-merchant-feedback, awaiting-bank-feedback, pending, resolved
          schema:
            type: string
        - in: query
          name: transaction
          description: Transaction ID
          schema:
            type: string
        - in: query
          name: from
          schema:
            type: string
            format: date-time
          description: The start date
        - in: query
[...]
