auto-install-peers=true
enable-pre-post-scripts=true
save-workspace-protocol=false
link-workspace-packages=false
shamefully-hoist=true
node-linker=hoisted
shared-workspace-lockfile=true
engine-strict=false