@tailwind base;
@tailwind components;
@tailwind utilities;

:not(pre) > code::before, :not(pre) > code::after {
  content: '`';
}

pre {
  font-variant-ligatures: none;
}

:not(pre) > code {
  font-size: calc(1em - 2px) !important;
}