name: Lint SDK Markdown Files

on:
  pull_request:
    types: [opened, edited, synchronize]
    paths:
      - 'packages/sdk/**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Lint markdown files
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: 'packages/sdk/**/*.md'
