on:
  push:
    branches:
      - master
    paths:
      - 'components/**'

jobs:
  publish-components:
    name: Publish Marketplace Content to Pipedream
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4.0.0
        with:
          version: 9.14.2
      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"
      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Install dependencies
        run: pnpm install -r --no-frozen-lockfile
      - name: Setup Node Env
        uses: actions/setup-node@v4.0.3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
          cache: 'pnpm'
      - name: Get Changed Files
        id: files
        uses: Ana06/get-changed-files@v2.3.0
        with:
          format: 'csv'
      - name: Publish changes to marketplace content
        id: publish
        env:
          PD_API_KEY: ${{ secrets.PD_API_KEY }}
          ENDPOINT: ${{ secrets.ENDPOINT }}
        shell: bash {0} # don't fast fail
        run: |
          printf -v added_modified_renamed_files '%s,%s' '${{ steps.files.outputs.added_modified }}' '${{ steps.files.outputs.renamed }}'
          pnpm dlx tsx scripts/updateMarketplaceReadme.mts $added_modified_renamed_files
