on:
  push:
    branches:
      - master

jobs:
  # See https://pnpm.io/continuous-integration#github-actions
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7.0.0
      - uses: actions/setup-node@v3.5.0
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/
          cache: 'pnpm'
      - name: pnpm install
        run: pnpm install -r --no-frozen-lockfile
      - name: Compile TypeScript
        run: npm run build
      # See https://pnpm.io/using-changesets
      - name: Setup npmrc for pnpm publish
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc
      - name: pnpm publish
        run: pnpm publish -r --no-git-checks
