name: Push Registry App Files to Supabase

on:
  push:
    branches:
      - master
    paths:
      - 'components/**'

jobs:
  push_to_supabase:
    name: Push registry app files to Supabase if they have been modified
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.28.2

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - uses: Ana06/get-changed-files@v2.3.0
        id: changed_files
        name: Get changed files
        with:
          format: json
      - name: Upload modified or newly added *.app.mjs files to Supabase
        uses: ./.github/actions/push-registry-app-files-supabase
        with:
          changed_files: ${{ steps.changed_files.outputs.all }}
          supabase_anon_key: ${{ secrets.SUPABASE_ANON_KEY }}
          supabase_uri: ${{ secrets.SUPABASE_URI }}
